# Core Framework & Web
Django>=4.2
djangorestframework
gunicorn
whitenoise

# Database
psycopg2-binary

# Settings & Utils
django-environ
Pillow

# Frontend
django-bootstrap4

# User Authentication
django-allauth

# Data Science & Machine Learning
numpy
pandas
scikit-learn
statsmodels

# Google & Firebase
firebase-admin

# requirements-dev.txt
jupyter
django-livereload-server